@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f9ff; /* laundry-blue-50 */
  background-image:
    radial-gradient(circle at 100% 100%, transparent 20%, rgba(2, 132, 199, 0.1) 21%, rgba(2, 132, 199, 0.1) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 100%, transparent 20%, rgba(2, 132, 199, 0.1) 21%, rgba(2, 132, 199, 0.1) 34%, transparent 35%, transparent) 0px -50px;
}

html.dark body {
  background-color: #0f172a; /* slate-900 */
  background-image:
    radial-gradient(circle at 100% 100%, transparent 20%, rgba(30, 64, 175, 0.1) 21%, rgba(30, 64, 175, 0.1) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 100%, transparent 20%, rgba(30, 64, 175, 0.1) 21%, rgba(30, 64, 175, 0.1) 34%, transparent 35%, transparent) 0px -50px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e0f2fe; /* laundry-blue-100 */
}
.dark ::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #7dd3fc; /* laundry-blue-300 */
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8; /* laundry-blue-400 */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}
