# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.next
out
out.zip
out (2).zip
out (3).zip
out (4).zip
out (5).zip
out (6).zip
out (7).zip
out (8).zip
out (9).zip
out (10).zip
out (11).zip
out (12).zip
out (13).zip
out (14).zip
out (15).zip
out (16).zip
out (17).zip
out (18).zip
out (19).zip
out (20).zip